img {
	max-width: 100%;
}

.fullscreen-page { padding-top: 0; }
.footer-main { display: none; }
.fullscreen {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.thumb {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	z-index: 1;

	&:before {
		content: '';
		display: block;
	}
}

.thumb img {
	max-width: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.thumb--11 {
	max-width: 200px;
	&:before { padding-top: calc((1/1)*100%); }
	& img {
		transform: translate( -50%,-50%);
	}
}

.thumb--169 {
	max-width: 100%;
	width: 2000px;
	&:before { padding-top: calc((9/16)*100%); }
}