/* FOOTER */
.footer-main {
	text-align: center;
	color: white;
	background: var(--text_color);
	padding: 20px 0;
}

.footer-main :--headings { 
	max-width: 500px;
	margin: 0 auto; 
	font-family: var(--font_family);
	background: white;
	color: black;
	padding: 5px 20px;
}

.footer-main h5 {
	max-width: 300px;
}