.brand {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	background: var(--primary_color);
	color: white;

	& h1 {
		margin: 0;
		float: left;
		padding: 5px 10px 5px 0;

		@nest & a {
			color: var(--secondary_color);
			text-decoration: none;
		}
	}

	@media (--sm){
		& h1 {
			float: none;
			margin-left: 20px;
		}

		& .container {
			max-width: 100%;
			margin: 0;
		}
	}

	@media (--sm-up){
		height: 50px;
	}
}

.brand:after,
.brand-bar {
	content: '';
	display: block;
	height: 5px;
	width: var( --scale );
	background: red;
	position: absolute;
	bottom: 0;
}


